<<<<<<< HEAD
#video {}

body {
    background-color: green;
}

#title {
    font-family: 'Shadows Into Light', cursive;
}
=======

span {
    color:pink;
    ont-family: 'Amatic SC', cursive;
}
>>>>>>> f57eea86fa8a0a3964477237fe938e3a71457301
