<<<<<<< HEAD
#video {}

body {
    background-color: green;
}

#title {
    font-family: 'Shadows Into Light', cursive;
}
=======

<<<<<<< HEAD
=======
span {
    color:pink;
    ont-family: 'Amatic SC', cursive;
}
>>>>>>> f57eea86fa8a0a3964477237fe938e3a71457301
>>>>>>> 8143c05534e75f8457fe03c5b49f1d8c696a58fe
